.places__website-link {
  text-decoration: underline;
  max-width: 456px;
  min-height: 22px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  color: #FFFFFF;
  text-decoration-line: underline;
  margin-top: 12px;
  transition: opacity 0.1s ease-out;
}

.places__website-link:hover {
  opacity: 0.5;
}