.places__website-link {
  text-decoration: underline;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  color: #FFFFFF;
  text-decoration-line: underline;
  margin-top: 12px;
  transition: opacity 0.1s ease-out;
}

.places__website-link:hover {
  opacity: 0.5;
}