.header {
  max-width: 1184px;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 48px;
  box-sizing: content-box;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 720px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 288px;
    min-height: 42px;
    padding: 0 16px;
  }
}