.footer__links-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .footer__links-content {
  max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer__links-content {
  max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .footer__links-content {
  max-width: 186px;
  min-height: 310px;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-start;
  justify-items: flex-start;
  }
}