.intro__text {
  max-width: 690px;
  min-height: 208px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 288px;
    min-height: 520px;
  }
}