.header__lang-links {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  gap: 18px;
  text-align: right;  
}

@media screen and (max-width: 767px) {
  .header__lang-links {
    grid-template-columns: repeat(2, 22px);
  }
}